@model Lifeplanner.ViewModels.CommunityViewModel;

@{
    List<string> ListHeaders = new(){

        "Recipes",
        "Tips & Tricks",
        "Cookware",
        "General chat",
        
    };

    List<string> ListTopics = new(){
        "*Main Recipe Thread*",
        "Improve Dough Folding",
        "Fryingpan - Best In Test*",
        "Your Favourite Cooking Song"    
    };



}



<div class="community-main-wrapper">
    
    <div class="community-navbar">
        <p style="display:none; margin: 0px; padding: 0px; color: black; font-size:1.4rem; font-weight: 600; padding-left: 0.5rem;">
            Forums
        </p>
        <div class="community-navbar-items">
            <div class="nav-dot" style="background-color: #ff8f7d;">
                <i class="fa-solid fa-list"></i>
            </div>
            
        </div>

        <div class="community-navbar-items">
            <div class="nav-dot" style="background-color: #b19cd9;">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
            </div>
         
        </div>

        <div class="community-navbar-items">
            <div class="nav-dot" style="background-color: #66d6a2;">
                <i class="fa-solid fa-utensils"></i>
            </div>
            
        </div>

        <div class="community-navbar-items">
            <div class="nav-dot" style="background-color: #f3c1a1;">
                <i class="fa-solid fa-comment"></i>
            </div>
         
        </div>

        <div class="community-btn-cntrbt">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
    </div>

    <div class="community-main-cntr">
        @for(var i = 0; i < 4; i++) {
            @if ((i == 0 && Model.ColumnRecipes != null) ||
                (i == 1 && Model.ColumnTipsTricks != null) ||
                (i == 2 && Model.ColumnCookware != null) ||
                (i == 3 && Model.ColumnGeneral != null)) {
                
                <div class="community-main-cntr-clmn">
                    
                    <div class="community-main-clmn-header">
                        <p>
                            @ListHeaders[i]
                        </p>
                    </div>

                    <!-- Render only if there is data for the corresponding category -->
                    @if(i == 0 && Model.ColumnRecipes != null && Model.ColumnRecipes.Any()) {
                        <div class="wrapper-div-items">
                            @foreach(var item in Model.ColumnRecipes!) {
                                <div class="community-cntr-toappend">
                                    <div class="cntr-header">
                                        <p style="display: none;">@item.Id</p>

                                        <p class="community-topic-data">
                                            @item.Topic  
                                        </p>

                                        <p class="community-topic-sub">
                                            @(item.TopicBody?.Substring(0, Math.Min(50, item.TopicBody.Length)) ?? "")
                                            ...
                                        </p>
                                    </div>
                                <div class="cntr-interactions">
                                    <p class="cmnt-data">
                                        <i class="fa-solid fa-eye"></i> 
                                        <span>@item.ViewCount</span>
                                    </p>
                                    <p class="cmnt-data">
                                        <i class="fa-solid fa-comment"></i> 
                                        <span>@(item.Comments?.Count().ToString() ?? "")</span>
                                        <span>&nbsp;comments</span>
                                    </p>
                                    <p class="cmnt-data">
                                        <i class="fa-solid fa-reply"></i>
                                        <span class="latest-reply">Latest reply from 
                                            <b>
                                                @(item.Comments?.FirstOrDefault()?.Author ?? "none")
                                            </b>
                                        </span>
                                    </p>
                                </div>

                                </div>
                            }

      
                            <div class="load-more-btn">
                                Load more topics
                            </div>

                        </div>

                    }

                    @if(i == 1 && Model.ColumnTipsTricks != null && Model.ColumnTipsTricks.Any()) {
                        <div class="wrapper-div-items">
                            @foreach(var item in Model.ColumnTipsTricks!) {
                                <div class="community-cntr-toappend">
                                    <div class="cntr-header">
                                        <p style="display: none;">@item.Id</p>

                                        <p class="community-topic-data">
                                            @item.Topic  
                                        </p>

                                        <p class="community-topic-sub">
                                            @(item.TopicBody?.Substring(0, Math.Min(50, item.TopicBody.Length)) ?? "")
                                            ...
                                        </p>
                                    </div>
                                    <div class="cntr-interactions">
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-eye"></i> 
                                            <span>@item.ViewCount</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-comment"></i> 
                                            <span>@(item.Comments?.Count().ToString() ?? "")</span>
                                            <span>&nbsp;comments</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-reply"></i>
                                            <span class="latest-reply">Latest reply from 
                                                <b>
                                                    <span>@(item.Comments?.FirstOrDefault()?.Author ?? "none")</span>
                                                </b>
                                            </span>
                                        </p>
                                    </div>

                                </div>
                            }

                            <div class="load-more-btn">
                                Load more topics
                            </div>

                        </div>
                    }

                    @if(i == 2 && Model.ColumnCookware != null && Model.ColumnCookware.Any()) {
                        <div class="wrapper-div-items">
                            @foreach(var item in Model.ColumnCookware!) {
                                 <div class="community-cntr-toappend">
                                    <div class="cntr-header">
                                        <p style="display: none;">@item.Id</p>

                                        <p class="community-topic-data">
                                            @item.Topic  
                                        </p>

                                        <p class="community-topic-sub">
                                            @(item.TopicBody?.Substring(0, Math.Min(50, item.TopicBody.Length)) ?? "")
                                            ...
                                        </p>
                                    </div>
                                    <div class="cntr-interactions">
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-eye"></i> 
                                            <span>@item.ViewCount</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-comment"></i> 
                                            <span>@(item.Comments?.Count().ToString() ?? "")</span>
                                            <span>&nbsp;comments</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-reply"></i>
                                            <span class="latest-reply">Latest reply from 
                                                <b>
                                                    <span>@(item.Comments?.FirstOrDefault()?.Author ?? "none")</span>
                                                </b>
                                            </span>
                                        </p>
                                    </div>

                                </div>
                            }

                            <div class="load-more-btn">
                                Load more topics
                            </div>
                            
                        </div>
                    }

                    @if(i == 3 && Model.ColumnGeneral != null && Model.ColumnGeneral.Any()) {
                        <div class="wrapper-div-items">
                            @foreach(var item in Model.ColumnGeneral!) {
                                <div class="community-cntr-toappend">

                                    <div class="cntr-header">
                                        <p style="display: none;">@item.Id</p>

                                        <p class="community-topic-data">
                                            @item.Topic  
                                        </p>

                                        <p class="community-topic-sub">
                                            @(item.TopicBody?.Substring(0, Math.Min(50, item.TopicBody.Length)) ?? "")
                                            ...
                                        </p>
                                    </div>

                                    <div class="cntr-interactions">
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-eye"></i> 
                                            <span>@item.ViewCount</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-comment"></i> 
                                            <span>@(item.Comments?.Count().ToString() ?? "")</span>
                                            <span>&nbsp;comments</span>
                                        </p>
                                        <p class="cmnt-data">
                                            <i class="fa-solid fa-reply"></i>
                                            <span class="latest-reply">Latest reply from 
                                                <b>
                                                    <span>@(item.Comments?.FirstOrDefault()?.Author ?? "none")</span>
                                                </b>
                                            </span>
                                        </p>
                                    </div>

                                </div>
                            }

                            <div class="load-more-btn">
                                Load more topics
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>

    <div class="community-main-latest">
            <p class="community-latest-header">
                Latest Conversations
            </p>
            
            <div class="clm-two-general">
             @foreach(var item in Model.ListCommunity!){
          
                <div class="index-latest-convos">
                    <p id="index-com-id" style="display:none">
                        @item.Id
                    </p>
                    
                    <p class="index-topic-category">
                        @if(item.Category!.Substring(6) == "General"){
                            <div class="category-thumb" style="background-color: #f3c1a1;">
                                <i class="fa-solid fa-comment"></i>
                            </div>
                        }else if(item.Category!.Substring(6) == "Cookware"){
                            <div class="category-thumb" style="background-color: #66d6a2;">
                                <i class="fa-solid fa-utensils"></i>
                            </div>
                        }else if(item.Category!.Substring(6) == "Recipes"){
                            <div class="category-thumb" style="background-color: #ff8f7d;">
                                <i class="fa-solid fa-list"></i>
                            </div>
                        }else if(item.Category!.Substring(6) == "TipsTricks"){
                            <div class="category-thumb" style="background-color: #b19cd9;">
                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                            </div>
                        }
                        </p>  
                    <p id="index-topic">
                        @item.Topic
                    </p>          
          
                </div>
             
                }
            </div>
    </div>

</div>

<script src="~/js/Partials/Community.js" type="module" asp-append-version="true"></script>
