@model Lifeplanner.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-wrapper">

    <div class="main-clm-one">
        <p class="index-clm-one-heading">
            Account
        </p>

        <div class="clm-one-general">
            <div class="clm-one-inner-div">

                @{
                    var displayTypeNotification = "none";
                    var displayTypeAccount = "none";
                    
                    if(TempData["passwordError"] != null){
                        displayTypeAccount = "flex";
                        displayTypeNotification = "none";
                    }
                    if(TempData["usernameError"] != null){
                        displayTypeAccount = "flex";
                        displayTypeNotification = "none";
                    }
                }

                <p class="index-account-heading">
                    
                    <i class="fa-solid fa-bell"></i>
                    
                    <span>
                        Notifications  
                    </span>
                </p>

                <div class="index-notifications" style="display: @displayTypeNotification;">
                    <p style="padding-left: 0.5rem; display: none;">
                        Welcome back @Model.Email!
                    </p>
                </div>
            </div>

            <div class="clm-one-inner-div">
                <p class="index-account-heading">
                    <i class="fa-solid fa-gear"></i>
                    <span>
                       Account 
                    </span>
                </p>

                <div class="index-account" style="display: @displayTypeAccount;">

                    <form method="post" asp-controller="Auth" asp-action="ChangePass">
                        <label>
                            Current password
                        </label>

                        <input id="email-somethingsomething" style="display: none;" asp-for="@Model.Email">
                   
                        <input type="password" asp-for="@Model.Password" value="@Model.Password">

                        <button type="submit" id="btn-change-pass">
                            Change password
                        </button>

                        @if(TempData["passwordError"] != null && TempData["passwordError"]!.ToString() == "Successfully changed password"){
                            <p style="color: teal; font-size: 0.8rem; opacity: 1;">
                                @TempData["passwordError"]
                            </p>
                        }
                        @if(TempData["passwordError"] != null && TempData["passwordError"]!.ToString() == "Failed to change password"){
                            <p style="color: #F44336; font-size: 0.8rem; opacity: 1;">
                                @TempData["passwordError"]
                            </p>
                        }

                    </form> 

                    <form method="post" asp-controller="Auth" asp-action="ChangeUsername">
                        <label>
                            Current username
                        </label>

                        <input style="display: none;" asp-for="@Model.Email">

                        <input type="text" asp-for="@Model.Username">

                        <button type="submit" id="btn-change-user">
                            Change Username
                        </button>

                        @if(TempData["usernameError"] != null && TempData["usernameError"]!.ToString() == "Successfully changed username"){
                            <p style="color: teal; font-size: 0.8rem; opacity: 1;">
                                @TempData["usernameError"]
                            </p>
                        }
                        @if(TempData["usernameError"] != null && TempData["usernameError"]!.ToString() == "Failed to change username"){
                            <p style="color: #F44336; font-size: 0.8rem; opacity: 1;">
                                @TempData["usernameError"]
                            </p>
                        }
                        @if(TempData["usernameError"] != null && TempData["usernameError"]!.ToString() == "Username already exists"){
                            <p style="color: #F44336; font-size: 0.8rem; opacity: 1;">
                                @TempData["usernameError"]
                            </p>
                        }

                    </form>
                </div>

            </div>

            <div class="clm-one-inner-div">
                <p class="index-account-heading trophy-heading">
                    <i class="fa-solid fa-trophy"></i>
                    <span>
                       Top contributors 
                    </span>
                </p>

                <div class="trophy-expand" style="display: @displayTypeNotification;">
                    
                </div>
            </div>

            <div class="clm-one-inner-div">
                <p class="index-account-heading myrecipe-heading">
                    <i class="fa-solid fa-file-code"></i>
                    <span>
                       My Recipes 
                    </span>
                </p>

                <div class="myrecipe-expand" style="display: @displayTypeNotification;">
                    
                </div>
            </div>
        </div>

    </div>

    <div class="main-clm-wrapper">
        <div class="heading-activites">

            <p class="heading-activities-text">
                Latest Conversations
            </p>

            <p class="heading-activities-text">
                Latest Recipes
            </p>

        </div>

        <div class="main-clm-two">
            <p class="index-clm-two-heading">
                @* Latest Conversations *@
            </p>
            <div class="clm-two-general">
                @foreach(var item in Model.ListCommunity!){
                  
                <div class="index-latest-convos">
                    <p id="index-com-id" style="display:none">@item.Id</p>
                    <p id="index-topic">
                        @item.Topic
                    </p>
                      <p class="index-topic-category">
                        @if(item.Category!.Substring(6) == "General"){
                            <div class="category-thumb" style="background-color: #f3c1a1;">
                                <i class="fa-solid fa-comment"></i>
                            </div>
                            <b>
                                General Chat
                            </b>
                        }else if(item.Category!.Substring(6) == "Cookware"){
                            <div class="category-thumb" style="background-color: #66d6a2;">
                                <i class="fa-solid fa-utensils"></i>
                            </div>
                            <b>
                                Utensils & Cookware
                            </b>
                        }else if(item.Category!.Substring(6) == "Recipes"){
                            <div class="category-thumb" style="background-color: #ff8f7d;">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <b>
                                Recipes
                            </b>
                        }else if(item.Category!.Substring(6) == "TipsTricks"){
                            <div class="category-thumb" style="background-color: #b19cd9;">
                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                            </div>
                            <b>
                                Tips & Tricks
                            </b>
                        }
                    </p>            
                    <p class="index-topix-viewcount">
                        <i class="fa-solid fa-eye"></i> 
                        &nbsp; @item.ViewCount!.ToString()
                    </p>
          
                </div>
                }
            </div>
        </div>

        <div class="main-clm-three">
            <p class="index-clm-three-heading">
                @* Latest Recipes *@
            </p>
            <div class="clm-three-general">
                @foreach(var item in Model.ListGen!){
                    <div class="index-latest-recipes">
                        <p style="display: none;" class="index-recipe-id">@item.Id</p>
                        <p>
                            @item.Heading
                        </p>
                        <p class="index-recipe-rating">

                             @if(Convert.ToInt32(item.RatingRecipe) == 1){
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if(Convert.ToInt32(item.RatingRecipe) == 2){
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if(Convert.ToInt32(item.RatingRecipe) == 3){
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if(Convert.ToInt32(item.RatingRecipe) == 4){
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if(Convert.ToInt32(item.RatingRecipe) == 5){
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                          
                        </p>
                        <div>
                            <img src="@item.ImageRecipe"/> 
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>

<script src="~/js/Main/MainSite.js"></script>
